
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>Welcome to Todo.com, <%=h @user.name %></h1>
<p>
  You have successfully signed up to example.com, and your username is: <%= @user.email %>.<br/>
  To login to the site, just follow this link:<%= url_for(:host => "192.168.1.41:3000", :controller => "users", :action => "emailcheck",:user_id=>@user.id,:check=>@user.check) %>
</p>
<p>Thanks for joining and have a great day!</p>
</body>
</html>