<% @comments.each do |c| %> <p>
    <div class="div_task" style="margin-bottom:-12px;margin-top:-10px; padding: 20 20 0;width: 592px; border:none;">
      <p style="margin-bottom:1px;">
            </b> <%= c.body %> </p>
      <p style="margin-bottom:1px;">
              <p style="font-size: 16px"><%=h c.user.name%> <span id="comment_span"> on <%=(c.created_at).strftime("%I.%P,  %d %b %Y")%></span></p>
             </hr>
    </div>
  
<% end %>