<link href='http://fonts.googleapis.com/css?family=Open+Sans:700,300' rel='stylesheet' type='text/css'>
<div id="text_area">
<div id="img_textbox"></div>
  <input id="textbox1"  type="text" name="task" placeholder="Add your todo entry  Hit 'Enter' to post "/>
  </p>
</div>
<div id="content_area">
  <%= render :partial => "taskcontent"  %>
</div>



