
.div_task{
    width: 575px;
    border: 1px solid #CCCCCC !important;
    background-color:#f4f4f4;
    min-height: 60px;
    padding:30px;
    margin-bottom: 25px;
    word-wrap: break-word;
    font-family: 'Open Sans';
    border-radius: 3px;
    z-index : 2;
}
.div_footer{
    width: 582px;
    height: 2px;
    align-self: center;
    border-bottom: 2px solid #CCCCCC;
    margin-left:22px;
    z-index: 3;
}

#dispaly_text_div{
    float: left;
    word-wrap: break-word;
}
#c {
    color: #34495e !important;
}
#c:hover{
    color:#34495e !important;
    text-decoration: underline;
}
p #c{

    word-wrap: break-word;
    font-family: 'Open Sans';
    font-weight: 100;
    padding:0px;
    margin: 1px !important;
    min-height: 8px;
    overflow-x: auto;
    min-width:40px;

}
#icon_img{
    float:left;
    position: absolute;
    margin-right: 20px;
}
#task{
    width: 50%;
    height: 50px;
    padding:50px;
    margin: 50px;
    font-family: Sans-Serif;
    font-size: 16px;
}
body{
    background-color: #e8e8e8 !important;
    font-family: Sans-Serif;
}
#content_align{

    margin: 0 auto;
    width:595px;
}
body a{
color:#34495e !important;
text-decoration: none;
word-wrap: break-word;
}

#login_panel,#signup_panel{
    margin-right:355px;
    margin-top: 26px;
    min-width:535px;
    min-height:364px;
    background-color: #ffffff;
    line-height:50px;
    font-family: 'Open Sans';
    font-weight: 100;
    font-size:18px ;
    color:#34495e;
    padding:30px;
    line-height: 72px;
    box-shadow: 0px 3px 3px #d5d5d5;
    border-radius: 3px;
}

#user_email,#user_password,#user_name,#user_password_confirmation,#user_new_password_confirm,#user_new_password{
    height: 50px;
    font-family: Sans-Serif;
    padding-left:10px;
    width: 378px;
    border-color: #cccccc;
    float:right;
    border-width: thin;
    box-shadow: none;
    background-color:  #e8e8e8;
    margin-top: 10px;
    border-style: none;
    border: 1px solid #cccccc;
    margin-left: 68px;
    border-radius: 3px;
}
#user_email:focus,#user_password:focus,#user_name:focus,#user_password_confirmation:focus,#user_new_password_confirm:focus,#user_new_password:focus{
    background: #ffffff;
    font-family: 'Open Sans light';
    border: .5px solid #cccccc;
}
#login_panel #user_email:focus,#login_panel #user_password:focus{
    background: #ffffff;
    font-family: 'Open Sans';
    color:#34495e;
    border: 1px solid #cccccc;
}
.rt{
    float:right;
    text-align: right;
    font-weight: 100;
    font-size: 25px;
    cursor: pointer;
}
a:link {

    text-decoration: none !important;
    cursor: pointer;
    word-wrap: break-word;
    overflow-x: auto;
    min-height: 20px;
    min-width: 20px;
    font-family: 'Open Sans';
    font-weight: 100;
    color:#34495e !important;
    text-decoration: underline;

}
.blink_text{
    font-size:25px ;
    color:#34495e !important;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Open Sans';
    font-weight: 200;
    font-size: 25px;

}
.fade{
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;

}
.fade:hover,.fade:active{
    opacity: 1;
    cursor: pointer;
    font-size: 25px;
}
#logo{
    width: 131px;
    height: 47px;
    margin-left: 231px;
    margin-top: 30px;


}
#logo_application{
    width: 131px;
    height: 47px;
    margin-left: 45%;
    margin-bottom: 50px;
}
#error_password{
    color:red;
}
.delete_div{
    width:572px;
    border-width: 1px;
    border-color: red;
    height:58px;
    margin-top:-30px;
    margin-left:-30px;
    background-color:white;
    vertical-align: middle ;
    display: none;
    z-index: 1;
    position: absolute;
    padding: 30px;
    border-style: solid;
    font-family: 'Open Sans light';

}
.pull-right{
    margin-right: 22px;
    bottom: -62px;
    position: relative;
    float: right;
}
.btn{
    background-color: #1bbc9b;
    margin-right: 15px;
    margin-left: 67px;
    margin-top: 20px;
    color: #ffffff;
    width: 171px;
    height: 48px;
    font-family: 'Open Sans';
    font-weight: 900;
    font-size:20px ;
    box-shadow: none;
    border-radius:7px;
    border-style: none;
    padding-left: 58px;
    padding-right: 58px;
}
.button{
    margin-left: 68px;
    cursor: pointer;
}
u{
    font-family: 'Open Sans';
    font-weight: 100;
    font-size: 15px;
    color:#34495e;
}
label{
    margin-right: 0PX;
    line-height: 20px;
}
.btns{
    background-color: #1bbc9b;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    margin-right: 7px;
    margin-top: 8px;
    color: #ffffff;
    width: 174px;
    height: 40px;
    font-family: 'Open Sans';
    font-weight: 900;
    font-size:25px ;
    margin-left: 36px;
    box-shadow: none;
    border-radius:7px;
    border-style: none;


}
button#delete_task {
    color: #34495e;
    border-width: 1px;
    border-radius: 3px;
    border-style: none;
    background-color: white;
    border-color: #cccccc;
    width: 85px;
    height: 30px;
    font-weight: bold;
    background-color: white;
    position: relative;
    bottom: 92px;
    cursor: pointer;

}
#delete_text{
    vertical-align: middle;
    font-size:16px;
    font-family: 'open sans';
}
button#cancel_delete {
    border-style: none;
    background-color: white;
    text-decoration: underline;
    margin-right:-36px !important;
    width: 85px;
    height: 30px;
    position: relative;
    color: #34495e;
    bottom: 92px;
    cursor: pointer;
}
.paswd_bar{
    width: 620px;
}
form{
    align-self: center;
}
tr.line_color td {
    border-bottom:1pt solid #e8e8e8;
    margin-bottom: 30px;

}
#task_body{
    width:642px;
    left: 50%;
    margin:0 auto;
    height: 900px;
    margin-top: 50;
}
#textbox1{
    width:635px;
    height: 42px;
    box-shadow: 0px 3px 0px #d5d5d5;
    padding-left: 40px;
    word-wrap: break-word;
    border-style: none;
    margin-bottom: 34px;
}
#comment_box{
    width:637px;
    height: 42px;
    box-shadow: 0px 3px 0px #d5d5d5;
    padding-left: 40px;
    word-wrap: break-word;
    border-style: none;
    margin-top: 22px;

}
#textbox1:focus{
    border-width: 1px;
    border-color: forestgreen;
    border-style: solid;
}
p{
    font-size: 18px;
    margin-bottom:8px;
}
#hedder_div
{
    width: 635px;
    height: 62px;
}
#content_area{
    margin-top: 50px;
}
#img_textbox{

    background: url('/images/iconsprite.png') no-repeat -116px -8px;
    width: 24px;
    height: 24px;
    z-index:1;
    position: absolute;
    margin-top: 12px;
    margin-left: 10px;
    margin-bottom: 7px;
    border-style: none;
    border: 0px none;
    border-style: none;
    cursor: pointer;
    outline:none;
}
.img_done{
    background: url('/images/iconsprite.png') no-repeat -143px 1px;
    width: 37px;
    height: 37px;
    z-index:1;
    position: absolute;
    margin-top: 12px;
    margin-left: 537px;
    margin-bottom: 7px;
    border: 0px none;
    border-style: none;
    cursor: pointer;
    outline:none;
    border: 0px none;
    border-style: none;
    cursor: pointer;
    outline:none;
}
.img_up{

    background: url('/images/iconsprite.png') no-repeat -48px -13px;
    width: 12px;
    height: 9px;
    z-index:1;
    position: absolute;
    margin-top: 26px;
    margin-left: 400px;
    margin-bottom: 7px;
    border-style: none;
    border: 0px none;
    border-style: none;
    cursor: pointer;
    outline:none;
}
.img_down{

    background: url('/images/iconsprite.png') no-repeat -12px -13px;
    width: 12px;
    height: 9px;
    z-index:1;
    position: absolute;
    margin-top: 26px;
    margin-left: 445px;
    margin-bottom: 7px;
    border: none;
    border: 0px none;
    border-style: none;
    cursor: pointer;
    outline:none;
}
.img_close{

    background: url('/images/iconsprite.png') no-repeat -83px -10px;
    width: 14px;
    height: 18px;
    z-index:1;
    position: absolute;
    margin-top: 23px;
    margin-left: 491px;
    margin-bottom: 7px;
    border-style: none;
    border: 0px none;
    border-style: none;
    cursor: pointer;
    outline:none;
}
.img_close:hover{
    background: url('/images/iconsprite.png') no-repeat -83px -46px;
    border: none;
    cursor: pointer;
    border-style: none;
    border: 0px none;
    border-style: none;
    cursor: pointer;
    outline:none;
}
.img_done:hover{
    background: url('/images/iconsprite.png') no-repeat  -143px -36px;
    border: none;
    width: 37px;
    height: 36px;
    cursor: pointer;
    border-style: none;
}
.img_up:hover{
    background: url('/images/iconsprite.png')  no-repeat -48px -49px;
    border: none;
    border-style: none;
    border: 0px none;
    border-style: none;
    cursor: pointer;
    outline:none;
}
.img_down:hover{
    background: url('/images/iconsprite.png') no-repeat -12px -48px;
    border: none;
    border-style: none;
    cursor: pointer;
    border: 0px none;
    border-style: none;
    cursor: pointer;
    outline:none;
}
.img_close:active{
    background: url('/images/iconsprite.png') no-repeat -83px -46px;
    border: none;
    border-style: none;
    cursor: pointer;
    border: 0px none;
    border-style: none;
    cursor: pointer;
    outline:none;
}
.img_done:active{

    background: url('/images/iconsprite.png') no-repeat  -143px -36px;
    border: 0px none;
    border: 0px none;
    border-style: none;
    cursor: pointer;
    outline:none;

}
.img_up:active{
    background: url('/images/iconsprite.png')  no-repeat -48px -49px;;
    border: 0px none;
    border-style: none;
    cursor: pointer;
    outline:none;

}
.img_down:active{
    background: url('/images/iconsprite.png') no-repeat -12px -48px;
    border: none;
    border-style: none;
    cursor: pointer;
}
.img_ok{
    background: url('/images/iconsprite.png') no-repeat -143px -71.5px;
    width: 37px;
    height: 37px;
    z-index:1;
    position: absolute;
    margin-top: 12px;
    margin-left: 537px;
    margin-bottom: 7px;
    border-style: none;
    cursor: pointer;
}
.img_ok:hover,.img_ok:active{
    background: url('/images/iconsprite.png') no-repeat -143px -107.5px;
    border: 0px none;
    border-style: none;
    cursor: pointer;
    outline:none;
}
li{
    cursor: pointer;
    font-family: 'Open Sans';
}
#name,#logout{
    font-family: 'Open Sans';
    font-weight: 100;
    color: #34495e;
    float: right;
    margin-left: 30px;
    font-size:16px ;
    margin-top: 6px;
    margin-right: 4px;
}
#name:hover{
    font-family: 'Open Sans';
    color: #34495e;
    cursor: pointer;
}
#logout:hover{
    color:#34495e !important;
    cursor: pointer;
}
img {
    border-style: none;
}
body a{
    color: #CCCCCC;
    margin: 0 auto;
    cursor: hand;
}
body a:hover{
    text-decoration: underline;
}

#name_div{
    color: #33945e;
    position: absolute;
    min-width: 110px;
    min-height:10px !important;
    background-color: #ffffff;
    margin-left: 464px;
    font-size:12px ;
    line-height:25px;
    padding-bottom: 10px;
    font-family: 'Open Sans';
    font-weight: 100;
    padding-left: 5px;
    -webkit-box-shadow: 0 0 2px 1px #cccccc;
    -moz-box-shadow: 0 0 1px 2px #cccccc;
    box-shadow: 0 0 2px 1px #cccccc;
}
.bubble {
    position: relative;
    padding: 12px !important;
    background: #FFF6D1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    line-height: 16px;
    box-shadow: 0px 0px 2px 1px #CCC;
    top: 177px;
}


ul{
    list-style-type: none;
    font-family: 'Open Sans ';
    margin: 0px !important;
    padding:0px !important;
}

#flash_msg{
    color: red;
    opacity:1;
    align-self: center;
    margin:0 px auto;
}
#search_box{
    width:145px;
    background-color:#e8e8e8;
    box-shadow: none !important;
    border-color:#d5d5d5;
    height: 29px;
}
#incompleted_tab  a #completed_tab a{
    position: absolute;
    text-decoration: none;
    border: 1px solid mediumblue;
    color:black !important;
    position: relative;
}
#incompleted_tab a :active  #completed_tab a:active {

    background-color:#f4f4f4;
    border-radius: 0px;
}
#comment_hedder {
    background-color: #ffffff;
    position: relative;
    padding: 10 20 0 20px;
    width: 593px;
    border-radius: 3px;
    border:1px solid #cccccc;
    border-bottom: 0;
}
#task_data{
    font-size:16px;
    font-family: 'Open Sans';
    font-weight: 300;
    margin-bottom:25px;
}
#task_progress{
    margin-bottom:30px;
}
#back_button{
    margin-bottom: 10px;
}
#check{
    background-color:green;

}
.save_button{
    color: #34495e;
    border-width: 1px;
    border-radius: 3px;
    border-color: #999999;
    border-style: solid;
    width: 85px;
    height: 30px;
    font-weight: bold;
    background-color: white !important;
    position: relative;
    bottom: 1px;
    cursor: pointer;
}
.cancel_button{
    border-style: none;
    background-color: white;
    text-decoration: underline;
    margin-right:5px !important;
    width: 85px;
    height: 30px;
    position: relative;
    bottom: 1px;
    cursor: pointer;
}
.c{
    font-size: 18px;
    color:green;
}
#active,#inactive {
    background-color:#f4f4f4;
    border: 1px solid #cccccc;
    width: 75px;
    height: 28px;
    padding: 5px 10px;

}
#comment_box p{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding: 0px;
    font-family: "open sans";
    font-weight: 100;
    font-size: 12px;

}
#inactive {
    margin-left:-5px;
    /*border-left:0px;*/
}
#inactive:active,#active:active{
    background-color:#e8e8e8;
}
#task_progress p{
    margin-bottom: 0px !important;

}
#task_share p{
    margin-bottom: 0px !important;
}
#comment_span{
    color: #ccc;
    font-size: 14px;

}
#share_div_partials{
    margin-bottom:0px;
    padding-bottom: 10px;
}
#share_button{
    margin-bottom:20px;
    border-radius: 3px;
    border-style: none;
    width: 91px;
    height: 30px;
    background-color: #ffffff;
    border:1px solid #999999;
}
span{
    font-weight:300;
}
#back_button{
    margin-bottom: 20px;
}
#comment_partial_div{
    border:0px solid #cccccc;
    width:633px !important;
    z-index: 1;
}
#search_image{
    width: 100px;
    height: 100px;
    z-index: 10;
    position:fixed;
    top:56%;
    left: 50%;
}
body {
	font-family: "open sans";
	font-size: 13px;
	/* for demo only */
	margin: 8px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  text-rendering: optimizelegibility;
}
h4 {
font-size: 14px;
}
h4, h5, h6 {
line-height: 18px;
}

p {
  margin: 0 0 9px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.close {
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 18px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.close:hover {
  color: #000000;
  text-decoration: none;
  opacity: 0.4;
  filter: alpha(opacity=40);
  cursor: pointer;
}

.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 18px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  width:400px;
  margin: 0px auto;
  color: #c09853;
}
.alert-heading {
  color: inherit;
}
.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 18px;
}
.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}
.alert-danger,
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}
.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #3a87ad;
}
.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}
.alert-block > p,
.alert-block > ul {
  margin-bottom: 0;
}
.alert-block p + p {
  margin-top: 5px;
}
